{{ partial "header.html" . }}
    <div class="text">
        <center class="big">
        Hi, I'm Lars.
        </center>
        <center class="small">
        I'm so glad you're here...
        </center><!-- I'm so sorry -->
    </div>
    <div class="heart">
        <center>
        &#10084;
        </center>
    </div>
	<!--<main>
		{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>-->
{{ partial "footer.html" . }}
