{{ partial "header.html" . }}
<main style="background-color: black; color:white; width:100%;">
<div class="container">
<div class="row console"> 
<div class="col-12">
<p><span class="prompt">you@larstuchel.ch</span>: ~$ cat welocme.txt
<pre>cat: welocme.txt: No such file or directory</pre>
<p><span class="prompt">you@larstuchel.ch</span>: ~$ cat welcome.txt
<pre class="screen-only" style="font-family: monospace, monospace;"> <!-- reset the font here as chrome seems to have some issues otherwise -->


██╗  ██╗██╗       ██╗███╗   ███╗    ██╗      █████╗ ██████╗ ███████╗
██║  ██║██║       ██║████╗ ████║    ██║     ██╔══██╗██╔══██╗██╔════╝
███████║██║       ██║██╔████╔██║    ██║     ███████║██████╔╝███████╗
██╔══██║██║       ██║██║╚██╔╝██║    ██║     ██╔══██║██╔══██╗╚════██║
██║  ██║██║▄█╗    ██║██║ ╚═╝ ██║    ███████╗██║  ██║██║  ██║███████║
╚═╝  ╚═╝╚═╝╚═╝    ╚═╝╚═╝     ╚═╝    ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝


</pre>
<pre class="mobile-only">
Hi, I'm Lars
</pre>
<p><span class="prompt">you@larstuchel.ch</span>: ~$ echo "I'm so glad you're here &lt;3"
<p>I'm so glad you're here &lt;3
<p><span class="prompt">you@larstuchel.ch</span>: ~$ ls<span class="screen-only"> -la</span>
<pre class="screen-only">
total 21K
drwxr--r-- 1 lt lt 0   Jan 27 20:17 ./
drwx------ 1 lt lt 0   Jan 27 20:16 ../
drwxr--r-- 1 lt lt 0   Jan 27 20:17 <a href="about">about/</a>
drwxr--r-- 1 lt lt 0   Jan 27 20:16 <a href="projects">projects/</a>
-rw-r--r-- 1 lt lt 610 Jan 27 20:17 welcome.txt
</pre>
<pre class="mobile-only">
<a href="about">about/</a>
<a href="projects">projects/</a>
welcome.txt
</pre>
{{$posts := ($.Site.GetPage "section" "projects").Pages}}
<!--Grab the most recent-->
{{ range first 1 $posts }}
<p><span class="prompt">you@larstuchel.ch</span>: ~$ vi <a href="{{.Permalink }}">~/{{ replace .File.Dir "\\" "/" }}{{ .File.LogicalName }}</a></p>
{{ end }}
<p><span class="prompt">you@larstuchel.ch</span>: ~$ <span id="blinky-mcblinkface" class="block">█</span>
</div>
</div>
</div>
</main>
{{ partial "footer.html" . }}
