<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">

<link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/skeleton.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/main.css" | relURL }}">

{{ $style := resources.Get "style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>