body {
    background-color: white; 
    font-family: 'Fira Mono', monospace; 
    font-size: 12px;
}

pre {
    font-family: 'Fira Mono', monospace; /* override monospace, monospace declaration of normalize.css */ 
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 9px;
}


main {
    min-height: 100%;
}

strong {
    font-weight: 700;
}

p {
	text-align: justify;
    margin-bottom: 0 0 1em;
}

.projects ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.link {
	padding: 20px;
}


.link:hover {
    background-color: black;
    color: white;
}
.link.unborn {
    cursor: default;
    color: black;
    text-decoration: none;
}
.link.unborn:hover {
    color: transparent;
    background-color: transparent;
}

.projects {
	min-height: 500px;
	margin: auto;
}
.projects li {
	width: 20%;
	display: inline-block;
	text-align: center;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0;
}
.projects li a {
    font-size: 1.2em;
    width: 100%;
    display: block;
    padding: 0; /* reset padding as containing li already provides some... */
    line-height: 50px;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.projects li a:hover {
    border-color: black;
    color: black;
}

@media only screen and (min-width:800px){
	.projects li {
		width: 10%;
	}
}

main article {
    margin-top: 30px;
}

main article h1 {
    margin: 0;
}
main article img {
    width: 100%;
    margin: 5px 0;
    border: 2px solid black;
}

main article div.separator {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
}
@media only screen and (min-width:45em) {
    main article div.separator {
        left: 37.66%;
        border-left: 3px solid black;
    }
}

.page-links .page-link a {
    border: 2px solid black;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 0.8em;
    color: black;
}
.page-links .page-link a:hover {
    color: white;
}
.page-links .next-link a {
    float: right;
    text-align: right;
}
.console p,
.console pre {
    text-align: left;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    overflow: hidden;
}
.console .prompt {
    font-weight: bold;
    color: rgb(64, 255, 64);
}
#blinky-mcblinkface {
  animation: blink-animation 0.25s steps(2, start) infinite;
  -webkit-animation: blink-animation 0.25s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@media (min-width: 801px) {
    .mobile-only {
        display: none;
    }
}
@media (max-width: 800px) {
    .screen-only {
        display: none;
    }
}

.editor {
    border: 5px solid black;
}
.editor .editor-title {
    background-color: black;
    color: white;
}
.editor .editor-close {
    margin: -5px 0 0;
    padding: 5px;
    text-align: center;
    background-color: #F00;
}
.editor .editor-close a:hover {
    font-weight: bold;
}
.editor .editor-close a,
.editor .editor-close a:hover {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}
