        body {
            background-color: white; 
            font-family: 'Montserrat', sans-serif; 
            font-size: 5px;
        }

	footer {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
	    font-size: 9px;
	}
	header, 
	header .links-wrapper {
	    width: 100%;
	}
	header .links-wrapper a {
	    float: right;
	}
	header .links-wrapper a img {
	    height: 2em;
	}
    
        .text, .heart {
            position: absolute; 
            bottom: 50%; 
            left: 0; 
            right: 0;
        }
        
        .text .big {
            font-weight: 900; 
            text-transform: uppercase; 
            font-size: 8em;
        }
        
        .text .small {
            font-weight: 300; 
            text-transform: uppercase; 
            font-size: 3em; 
            color: #E88
        }
        
        /* The animation code */
        @keyframes heart-grow {
            0%   {font-size: 25em; margin-bottom: -0.4em;}
            
            50%  {font-size: 15em; margin-bottom: -0.3em;}
            
            100% {font-size: 25em; margin-bottom: -0.4em;}
            
        }
        
        .heart {
            font-family: sans-serif;
            font-size: 25em; 
            z-index: -1; 
            color: rgba(250, 200, 200, 100); 
            margin-bottom: -0.4em;
            animation-name: heart-grow;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        
        @media only screen and (min-width: 530px) {
            body {
                font-size: 10px;
            }
            .text .small {
                font-size: 2em;
            }
        }
        
        @media only screen and (min-width: 800px) {
            body {
                font-size: 15px;
            }
            .text .small {
                font-size: 1em;
            }
        }
        
        @media only screen and (min-width: 1100px) {
            body {
                font-size: 20px;
            }
        }
