        body {
            background-color: white; 
            font-family: 'Montserrat', sans-serif; 
            font-size: 5px;
        }

	footer {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    font-size: 9px;
	}

	/*
 	 * HEART HEART HEART
	 */
	header, 
	header .links-wrapper {
	    width: 100%;
	}
	header .links-wrapper a {
	    float: right;
	}
	header .links-wrapper a img {
	    height: 2em;
	}
    
        .text, .heart {
            position: absolute; 
            bottom: 50%; 
            left: 0; 
            right: 0;
        }
        
        .text .big {
            font-weight: 900; 
            text-transform: uppercase; 
            font-size: 8em;
        }
        
        .text .small {
            font-weight: 300; 
            text-transform: uppercase; 
            font-size: 3em; 
            color: #E88
        }
        
        /* The animation code */
        @keyframes heart-grow {
            0%   {font-size: 25em; margin-bottom: -0.4em;}
            
            50%  {font-size: 15em; margin-bottom: -0.3em;}
            
            100% {font-size: 25em; margin-bottom: -0.4em;}
            
        }
        
        .heart {
            font-family: sans-serif;
            font-size: 25em; 
            z-index: -1; 
            color: rgba(250, 200, 200, 100); 
            margin-bottom: -0.4em;
            animation-name: heart-grow;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        
        @media only screen and (min-width: 530px) {
            body {
                font-size: 10px;
            }
            .text .small {
                font-size: 2em;
            }
        }
        
        @media only screen and (min-width: 800px) {
            body {
                font-size: 15px;
            }
            .text .small {
                font-size: 1em;
            }
        }
        
        @media only screen and (min-width: 1100px) {
            body {
                font-size: 20px;
            }
        }

main {
    height: 100%;
}

.projects ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
.link {
	padding: 20px;
}


.link:hover {
    background-color: black;
    color: white;
}
.link.unborn {
    color: black;
    text-decoration: none;
}
.link.unborn:hover {
    color: transparent;
    background-color: transparent;
}

.projects {
	min-height: 500px;
	margin: auto;
}
.projects li {
	width: 20%;
	display: inline-block;
	text-align: center;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0;
}
.projects li a {
    font-size: 1.2em;
    width: 100%;
    display: block;
    padding: 0; /* reset padding as containing li already provides some... */
    line-height: 50px;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.projects li a:hover {
    border-color: black;
    color: black;
}

@media only screen and (min-width:800px){
	.projects li {
		width: 10%;
	}
}

p {
	text-align: justify;
    margin: 5px 0;
}
main article {
    font-family: monospace;
    margin-top: 30px;
}

main article h1 {
    margin: 0;
}
main article img {
    width: 100%;
    margin: 5px 0;
    border: 2px solid black;
}
main article div.separator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 37.66%;
    border-left: 3px solid black;
    right: 0;
}
.page-links .page-link a {
    border: 2px solid black;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 0.8em;
    color: black;
}
.page-links .page-link a:hover {
    color: white;
}
.page-links .next-link a {
    float: right;
    text-align: right;
}
