{{ define "main" }}
<div id="works" style="width: 100%; min-height: 100vh; background-color: #0E0909; padding: 1em 0;">
    <div class="container" style="min-height: 5em;">
        <div class="row works-container">
            <div class="column">
                <div class="works">
                    
                    {{ range first 11 (where (where .Site.Pages "Type" "works") "Kind" "page") }}
                        <a href="{{ .RelPermalink }}" class="works-item" style="background-image: url({{ .Param "image" | relURL }});"><span
                            class="work-name">{{ .Title }} ({{ .Date.Format "2006" }}) </span></a>
                    {{ end }}
                    <a href="/works" class="works-item archive-link" ><span class="work-name">ARCHIVE</span>
                        <div class="archive-link__entries">
                            
                            {{ range first 11 (where (where .Site.Pages "Type" "works") "Kind" "page") }}
                            <span class="archive-link__entry" style="background-image: url({{ .Param "image" | relURL }});"></span>
                            {{ end }}
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="column">
                <span class="u-pull-right" style="font-weight: bold; color:white; font-size: 2em;">works</span>
                <span class="u-clear"> </span>
            </div>
        </div>
    </div>
</div>
<div id="about" class="container">
    <div class="row">
        <div class="column">
            <span class="title">
                about
            </span>
        </div>
    </div>
    <div class="row">
        <div class="one-third column"><img src="{{ "images/me.jpg" | relURL }}" style="width: 100%; height: auto;"> </img></div>
        <div class="two-thirds column" style="text-align: justify;  ">
            <h3>Short version</h3>
            <p>I make music, code music, compose music and listen to music</p>
            <h3>Slightly Longer Version</h3>
            <p>I'm a musician and coder from Switzerland. Exploring conflicts and synergies of human/computer relationships 
                in fixed-media pieces, interactive sound installations and live coding performances. My work acts as 
                a means to explore new ways of interacting with an ever expanding digital world. All while trying and failing 
                to help both the general public and myself to understand how we can mold that world.<br>
                
                After a professional education in software development I'm currently completing a BA Sound Arts at 
                Hochschule der Künste Bern.</p>
                <p>
                (1994 - )
                </p>
        </div>
    </div>
</div>
<div class="dates-container" data-speed="3" style="background-image: url({{ "images/dates.jpg" | relURL }});">
    <div id="dates" class="container" style="margin-top: 2em;">
        <div class="row">
            <div class="column">
                <span class="title">
                    dates
                </span>
            </div>
        </div>
        <div class="row">
            <div class="one column">&nbsp;</div>
            <div class="ten columns" style="text-align: justify;  ">
                <h3>Coming up</h3>
                <table style="width:100%">
                    <tr><td style="width: 25%">08/2021</td><td style="width: 35%;">Am Dritten Tag / Klangring-Ringklang</td><td>Alpentöne Festival, Altdorf</td></tr>
                </table>
                <h3>Past</h3>
                <table style="width:100%; margin-bottom: 4em">
                    <tr><td style="width: 25%">06/2021</td><td style="width: 35%;">The Halting Problem</td><td>à suivre #39 @ HKB, Bern</td></tr>
                    <tr><td style="width: 25%">11/2020</td><td style="width: 35%;">Bandprobe</td><td>Bandprobe @ Dampfzentrale, Bern</td></tr>
                    <tr><td style="width: 25%">03/2020</td><td style="width: 35%;">to code</td><td>IRCAM Forum Workshops @ IRCAM, Paris</td></tr>
                    <tr><td style="width: 25%">01/2020</td><td style="width: 35%;">polyprosopus</td><td>à suivre #36 @ HKB, Bern</td></tr>
                    <tr><td style="width: 25%">11/2019</td><td style="width: 35%;">to code / nitenton</td><td>PlayBern @ Grosse Halle, Bern</td></tr>
                    <tr><td style="width: 25%">06/2019</td><td style="width: 35%;">to code</td><td>next_generation 8.0 @ ZKM, Karlsruhe</td></tr>
                    <tr><td style="width: 25%">06/2019</td><td style="width: 35%;">to code</td><td>à suivre #35 @ HKB, Bern</td></tr>
                    <tr><td style="width: 25%">08/2016</td><td style="width: 35%;">composition in U+0044 major</td><td>Cabaret der Künstler - Zunfthaus Voltaire @ Manifesta 11, Zurich</td></tr>
                </table>
            </div>
            <div class="one column">&nbsp;</div>
        </div>
    </div>
</div>


<div id="contact" class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="one-half column">
            <span class="title">
                contact
            </span>
        </div>
        <div class="one-half column" style="text-align: justify;  ">
            <p>
                Living in bern, switzerland. You can find me on <a href="https://github.com/tuchella/" target="_blank">github</a>, where I try to publish most of my code. On 
                <a href="https://vimeo.com/user79855026" target="_blank">vimeo</a> I upload videos, on bandcamp I <a href="https://bandcamp.com/tuchella" target="_blank">buy</a> and 
                <a href="https://bandprobe.bandcamp.com/" target="_blank">publish</a> music. Furthermore I have a
                <a href="{{ .Site.BaseURL }}">website</a>. You are currently visiting that website.
            </p>
            <p>
                If you'd like to get in contact with me, don't hesitate to drop me an email at <a href="" id="mail"></a> (Beware! Link opens external mail program).
            </p>
            <noscript>
                <div style="border: 1px solid black; background-color: #ddd; padding: 1em; margin: 1em 0;">
                    <h3>say no to scripts</h3>
                    <p style="margin-bottom: 0;">
                        Email address decryption only works with javascript, which you don't have enabled. So here is an image instead:
                        <br>
                        <img style="width:100%" src="{{ "images/mail.png" | relURL }}" />
                    </p>
                </div>
            </noscript>
        </div>
    </div>

    <script type="text/javascript">
    function uncryptMailto(s) {
        var n=0;
        var r="";
        for(var i=0; i < s.length; i++) {
            n=s.charCodeAt(i);
            if (n>=8364) {n = 128;}
            r += String.fromCharCode(n-(1));
        }
        return r;
    }
    function uncryptMailtoLink(s)	{
        const mailLink = document.getElementById("mail");
        if (!mailLink.href.startsWith("mailto:")) {
            mailLink.href = uncryptMailto("nbjmup;mbst.uvdifmApvumppl/dpn");
            mailLink.innerHTML = uncryptMailto("mbst.uvdifmApvumppl/dpn");
        }
        console.log(mailLink.href);
    }
    
    {
        const mailLink = document.getElementById("mail");
        mailLink.addEventListener('mouseover', () => uncryptMailtoLink()); 
        mailLink.addEventListener('focus', () => uncryptMailtoLink()); 
        mailLink.innerHTML = 'l**********l@outlook.com';
    }
    </script>
    
</div>
</div>
</div>
</div>


<script src="js/main.js"></script>
{{ end }}