{{ partial "header.html" . }}
	<main style="display: flex; align-items: center;">
		<article class="container editor">
            <div class="row editor-title">
                <div class="col-11-sm">{{ .File.LogicalName }} (read-only)</div>
                <div class="col-1-sm editor-close"><a href="{{.Site.BaseURL}}">X</a></div>
            </div>
            <div class="row">
                <div class="col-12">
				<h1># {{ .Title }}</h1>
                {{ .Content }}
                </div>
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}
