{{ partial "header.html" . }}
	<main>
	    <div class="container" style="height: 100%; display: flex; align-items: center;">
		<div class="row projects">
            <!-- The following lines use a dash (-) to prevent whitespace beeing added betwen li elements -->
            <ol>
			{{ range .Data.Pages.ByDate -}}
				<li><a class="link" href="{{ .Permalink }}" onMouseOver="this.style.backgroundColor='{{or .Params.color "white"}}';" onMouseOut="this.style.backgroundColor='transparent';">{{ .File.TranslationBaseName }}</a></li>
			{{- end -}}   
			{{- $pages := (len .Data.Pages) -}}
			{{- $notPages := (sub 100 $pages) -}}
			{{- range $i, $n := seq $notPages -}}
				{{- $notPage := (add $i $pages) -}}
				<li><a class="link unborn" href="#">{{ if lt $notPage 10 }}0{{ end }}{{ $notPage  }}</a></li>
			{{- end }}	
            </ol>
		</div>
	    </div>
	</main>
{{ partial "footer.html" . }}
