{{ partial "header.html" . }}
	<main>
		<article class="container">
            <div class="separator" style="background-color: {{ .Params.color }}"></div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7">
                    <a href="{{.Site.BaseURL}}">~/</a>
                    {{ if .Section }}
                    <a href="{{.Site.BaseURL}}/{{.Section}}">{{.Section}}/</a>
                    {{ end }}
			        <h1>{{ .Title }} <span>({{ .Date.Format "2006" }})</span></h1>
                </div>
			</div>
            <div class="row">
                <div class="col-5">
                    {{ range .Params.images }}
                        <img src="/img/{{ . }}" alt="idk" />
                    {{ end }}
                    {{ if .Params.imageCredit }}
                    <i><small>image {{- if gt (len .Params.images) 1}}s{{ end }} by {{ .Params.imageCredit }}</small></i>
                    {{ end }}
                </div>
                <div class="col-7">
				{{ .Content }}
                </div>
            </div>
			</div>
            <div class="row page-links">
                <div class="col-6 page-link prev-link">
                    {{if .PrevInSection}}
                    <a class="link" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">{{.PrevInSection.Title}}</a>
                    {{end}}
                </div>
                <div class="col-6 page-link next-link">
                    {{if .NextInSection }}
                    <a class="link" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">{{.NextInSection.Title}}</a>
                    {{end}}
                </div>
            </div>
			<!--<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>-->
		</article>
	</main>
{{ partial "footer.html" . }}
